
@model OE.Web.Areas.Institution.Models.StaffsVM.IndexStaffsListByAdminVM;

@using OE.Web.Areas.Institution.Models;
@{
    //ViewData["Title"] = "Index";
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<h1 class="page-title">Staffs List</h1>
<br />

<a class="btn btn-success btn-sm" id="btnAdd" name="btnAdd"
   asp-area="Institution"
   asp-controller="Staffs"
   asp-action="StaffsaddDetails">
    <i class="fas fa-plus" aria-hidden="true"></i>
    Add New Staff
</a>

<br />
<br />
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>SN</th>
            <th>Staff Image</th>
            <th>Designation</th>
            <th>Gender</th>
            <th>Cell</th>
            
            <th>Email</th>
            
            <th>Education</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var data in Model._Staffs)
        {
            <tr>
                <td style="max-width:10px;">@(Model._Staffs.IndexOf(data) + 1)</td>
                <td class="showDetails pointer text-center">
                    <img src="~/@data.IP300X200" asp-append-version="true" style="height:120px;width:120px;" />
                    
                    @data.Name
                    
                </td>
               
                <td class="showDetails pointer">
                    @data.Designation
                </td>
                <td class="showDetails pointer">
                    @data.GenderName
                </td>
                <td class="showDetails pointer">
                    @data.Cell
                </td>
                <td class="showDetails pointer">
                    @data.Email
                </td>
                <td class="showDetails pointer">
                    @data.Education
                </td>
                <td class="showDetails pointer">
                    @data.Address
                </td>
                <td class="showDetails pointer">
                    <button class="btn btn-primary btn-sm" id="btnEdit" name="btnEdit" data-toggle="modal" data-target="#modalEdit"
                            data-id="@data.Id"
                            data-designationid="@data.DesignationId"
                            data-firstname="@data.FirstName"
                            data-lastname="@data.LastName"
                            data-genderid="@data.GenderId"
                            data-ip300x200="@data.IP300X200"
                            data-cell="@data.Cell"
                            data-email="@data.Email"
                            data-education="@data.Education"
                            data-address="@data.Address">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                        Edit
                    </button>
                    <button class="btn btn-danger btn-sm " id="btnDelete" data-toggle="modal" data-target="#modalDelete" data-id="@data.Id">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        Delete
                    </button>
                    <a class="btn btn-primary btn-sm"
                       asp-area="Institution"
                       asp-controller="Staffs"
                       asp-action="StaffDetails"
                       asp-route-StaffId="@data.Id">
                        <i class="fa fa-external-link-alt" aria-hidden="true"></i>
                        View Details
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="container">
    @if (pager.TotalPages > 0)
    {
        <ul class="pagination justify-content-center">
            @if (pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Staffs" asp-action="StaffsListByAdmin" asp-route-pg="1">First</a>
                </li>
                <li>
                    <a class="page-link" asp-controller="Staffs" asp-action="StaffsListByAdmin" asp-route-pg="@(pager.CurrentPage - 1)">Previous</a>
                </li>
            }
            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge==pager.CurrentPage? "active" : "")">
                    <a class="page-link" asp-controller="Staffs" asp-action="StaffsListByAdmin" asp-route-pg="@pge">@pge</a>
                </li>
            }
            @if (pager.CurrentPage < pager.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Staffs" asp-action="StaffsListByAdmin" asp-route-pg="@(pager.CurrentPage+1)">Next</a>
                </li>
                <li>
                    <a class="page-link" asp-controller="Staffs" asp-action="StaffsListByAdmin" asp-route-pg="@(pager.TotalPages)">Last</a>
                </li>
            }
        </ul>
    }

</div>

<div id="modalEdit" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form role="form" id="editStaff">
                    <input type="hidden" name="Staffs.Id" id="editStaffId">
                    <input type="hidden" name="Staffs.IP300X200" id="txtEditIP300X200">
                    <hr />
                    <label> Designation </label>
                    <select class="form-control"
                            id="txtEditDesignationId"
                            asp-for-id="DesignationId"
                            name="Staffs.DesignationId"
                            asp-items="@(new SelectList (ViewBag.ddlDesignations, "Id","Name"))">
                        <option value="" id="txtEditDesignationId"></option>
                    </select>
                    <hr />
                    <label>FirstName</label>
                    <input type="text" name="Staffs.FirstName" id="txtEditFirstName" required class="form-control">
                    <hr />
                    <label>LastName</label>
                    <input type="text" name="Staffs.LastName" id="txtEditLastName" required class="form-control"><hr />
                    <hr />
                    <label>Image :</label>
                    <input type="file" id="fleEditIP300X200" name="Staffs.fleImage" class="form-control" />
                    <br />
                    <div id="editImagBlock">
                        <img id="editIP300X200" src="" asp-append-version="true" height="150" width="200"><br /><br />
                        <a href="#" class="btn btn-danger" onclick="ClrEditPreview()"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        <br /><br />
                    </div>
                    <br />
                    <label>Gender</label>
                    <select class="form-control"
                            id="txtEditGenderId"
                            asp-for-id="GenderId"
                            name="Staffs.GenderId"
                            asp-items="@(new SelectList (ViewBag.ddlGenders, "Id","Name"))">
                        <option value="Select Gender">Select Gender</option>
                    </select>
                    <hr />
                    <label>Cell</label>
                    <input type="text" name="Staffs.Cell" id="txtEditCell" required class="form-control">
                    <hr />
                    <label>Email</label>
                    <input type="text" name="Staffs.Email" id="txtEditEmail" required class="form-control">
                    <hr />
                    <label>Education</label>
                    <input type="text" name="Staffs.Education" id="txtEditEducation" required class="form-control">
                    <hr />
                    <label>Address</label>
                    <input type="text" name="Staffs.Address" id="txtEditAddress" required class="form-control">
                    <hr />

                    <button class="btn btn-success btn-md" formmethod="post" id="btnEditStaff">
                        <i class="fa fa-save" aria-hidden="true"></i>
                        Save
                    </button>
                    <button class="btn btn-danger btn-md " data-dismiss="modal">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        Cancel
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modalDelete" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Staff</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form enctype="multipart/form-data" id="deleteStaffList">
                <div class="modal-body">
                    <p><h4>Are you sure you want to delete this?</h4></p>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="StaffId" id="delStaffid">
                    <button class="btn btn-md btn-success" id="btnDeleteStaff">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        Yes
                    </button>
                    <button class="btn btn-danger btn-md " data-dismiss="modal">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        No
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts
    {
    <script type="text/javascript">
        //$(".datetime").datepicker(
        //    {
        //        format: "dd/MM/yyyy",
        //        autoclose: true
        //    }
        //);
        //[NOTE: Tip]
        //$('[data-toggle="popover"]').popover({
        //    trigger: 'focus'
        //})
        $('tr td #btnEdit').on('click', function () {
            $("#editStaffId").val($(this).data("id"));
            $("#txtEditDesignationId").val($(this).data("designationid"));
            $("#txtEditFirstName").val($(this).data("firstname"));
            $("#txtEditLastName").val($(this).data("lastname"));
            $("#txtEditIP300X200").val($(this).data("ip300x200"));
            $("#txtEditGenderId").val($(this).data("genderid"));
            $("#txtEditCell").val($(this).data("cell"));
            $("#txtEditEmail").val($(this).data("email"));
            $("#txtEditEducation").val($(this).data("education"));
            $("#txtEditAddress").val($(this).data("address"));
            var imageVersionNo = Math.random();
            var imageWithVersion = "/" + $(this).data('ip300x200') + "?v=" + imageVersionNo;
            $('#modalEdit #editIP300X200').attr('src', imageWithVersion); //[NOTE: for Display]
        });

        $('#fleEditIP300X200').on('change', function () {
            var imageFile = window.URL.createObjectURL(this.files[0]);
            $('#modalEdit #editIP300X200').attr('src', imageFile);   //[NOTE: for Display]
            $('#modalEdit #editIP300X200').show();
            $('#modalEdit #txtEditIP300X200').val(imageFile.FileName); //[NOTE: for hidden]
        });
        var ClrEditPreview = function () {
            $("#editImagBlock").hide();
            $("#fleEditIP300X200").val('');
            $('#txtEditIP300X200').val('');
        }
        $('#fleAddIP300X200').on('change', function () {
            var imageFile = window.URL.createObjectURL(this.files[0]);
            $('#mdlAdd #fleAddImgPreView').attr('src', imageFile);   //[NOTE: for Display]
            $('#mdlAdd #addImagBlock').show();
        });

        $("#btnSaveNewStaff").on('click', function (e)
        {
            e.preventDefault();
            var formData = new FormData($("#addStaff")[0]);
             $.ajax({
               type: 'POST',
               data: formData,
               contentType: false,
               processData: false,

               url: '@Url.Action("InsertStaff", "Staffs", new { Area = "Institution" })',
                 success: function (response) {
                     location.reload();
                 },
                 error: function (response) {
                     alert('error: ' + response.message);
                 },
                 complete: function () {
                 }
                });
        });
        $("#btnEditStaff").on('click', function (e)
        {
            e.preventDefault();
            var formData = new FormData($("#editStaff")[0]);
             $.ajax({
               type: 'POST',
               data: formData,
               contentType: false,
               processData: false,

               url: '@Url.Action("UpdateStaff", "Staffs")',
                 success: function (response) {
                     location.reload();
                 },
                 error: function (response) {
                     alert('error: ' + response.message);
                 },
                 complete: function () { }

                });
        });
        $(' tr td #btnDelete').on('click', function () {
            $("#delStaffid").val($(this).data("id"));
        });

        $("#btnDeleteStaff").on('click', function (e)
        {
            e.preventDefault();
            var formData = new FormData($("#deleteStaffList")[0]);
            $.ajax({
               type: 'POST',
               data: formData,
               contentType: false,
               processData: false,

               url: '@Url.Action("DeleteStaff", "Staffs")',
                 success: function (response) {
                     location.reload();
                 },
                 error: function (response) {
                     alert('error: ' + response.message);
                 },
                 complete: function () { }

                });
        });


    </script>
}
