
@model OE.Web.Areas.Institution.Models.PaymentTypesVM.IndexPaymentTypesListVM;

<h1 class="page-title">Payment List</h1>

<br />
<button class="btn btn-success btn-sm " id="btnAdd" name="btnAdd" data-toggle="modal" data-target="#mdlAdd">
    <i class="fa fa-plus" aria-hidden="true"></i>
    +Add Payment Type
</button>
<br />
<br />

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>SN</th>
            <th>Name </th>
            <th>  Action </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var data in Model._PaymentTypes)
        {
            <tr>
                <td style="max-width:10px;">@(Model._PaymentTypes.IndexOf(data) + 1)</td>
                <td class="showDetails pointer">
                    @data.Name
                </td>
                <td style="max-width:30px;">
                    <button class="btn btn-primary btn-sm" id="btnEdit" name="btnEdit" data-toggle="modal" data-target="#modalEdit"
                            data-id="@data.Id"
                            data-name="@data.Name">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                        Edit
                    </button>
                    <button class="btn btn-danger btn-sm " id="btnDelete" data-toggle="modal" data-target="#modalDelete" data-id="@data.Id">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        Delete
                    </button>

                </td>
            </tr>
        }
    </tbody>
</table>

<div id="mdlAdd" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h3>Add Payment Type</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" id="addClasses">
                    <label> Name</label>
                    <input type="text" name="PaymentTypes.Name" id="ClassName" required class="form-control">
                    <hr />
                    <button class="btn btn-success btn-md" id="btnSaveNewClasses">
                        <i class="fa fa-save" aria-hidden="true"></i>
                        Save
                    </button>
                    <button class="btn btn-danger btn-md " data-dismiss="modal">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        Cancel
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modalEdit" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Payment type</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form role="form" id="editClasses">
                    <input type="hidden" name="PaymentTypes.Id" id="editClassesId">
                    <label>Classes Name</label>
                    <input type="text" name="PaymentTypes.Name" id="txtEditClassesName" required class="form-control">
                    <hr />
                    <button class="btn btn-success btn-md" formmethod="post" id="btnEditClasses">
                        <i class="fa fa-save" aria-hidden="true"></i>
                        Save
                    </button>
                    <button class="btn btn-danger btn-md " data-dismiss="modal">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        Cancel
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modalDelete" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Payment</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form enctype="multipart/form-data" id="deletePaymentTypesList">
                <div class="modal-body">
                    <p><h4>Are you sure you want to delete this?</h4></p>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="PaymentTypeId" id="delPaymentTypeId">
                    <button class="btn btn-md btn-success" id="btnDeletePaymentType">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        Yes
                    </button>
                    <button class="btn btn-danger btn-md " data-dismiss="modal">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        No
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
    {
    <script type="text/javascript">

        $('tr td #btnEdit').on('click', function () {
            $("#editClassesId").val($(this).data("id"));
            $("#txtEditClassesName").val($(this).data("name"));

        });

        $("#btnSaveNewClasses").on('click', function (e) {
            e.preventDefault();
            var formData = new FormData($("#addClasses")[0]);
             $.ajax({
               type: 'POST',
               data: formData,
               contentType: false,
               processData: false,

               url: '@Url.Action("InsertPaymentType", "PaymentTypes", new { Area = "Institution" })',
                 success: function (response) {
                     location.reload();
                 },
                 error: function (response) {
                     alert('error: ' + response.message);
                 },
                 complete: function () {
                 }
                });
        });

        $("#btnEditClasses").on('click', function (e) {
            e.preventDefault();
            var formData = new FormData($("#editClasses")[0]);
             $.ajax({
               type: 'POST',
               data: formData,
               contentType: false,
               processData: false,

               url: '@Url.Action("UpdatePaymentType", "PaymentTypes")',
                 success: function (response) {
                     location.reload();
                 },
                 error: function (response) {
                     alert('error: ' + response.message);
                 },
                 complete: function () { }

                });
        });

        $(' tr td #btnDelete').on('click', function () {
            $("#delPaymentTypeId").val($(this).data("id"));
        });

        $("#btnDeletePaymentType").on('click', function (e) {
            e.preventDefault();
            var formData = new FormData($("#deletePaymentTypesList")[0]);
             $.ajax({
               type: 'POST',
               data: formData,
               contentType: false,
               processData: false,

               url: '@Url.Action("DeletePaymentType", "PaymentTypes")',
                 success: function (response) {
                     location.reload();
                 },
                 error: function (response) {
                     alert('error: ' + response.message);
                 },
                 complete: function () { }
                });
        });
    </script>
}
