
@{
    Layout = "~/Areas/Institution/Views/Shared/_LayoutReport.cshtml";
}
@model OE.Web.Areas.Institution.Models.FeeTypesVM.PrintIndexFeeTypesListVM;

<div class="informationArea">
    <img src="~/@Html.Raw(Model.Institution.LogoPath)" class="center-block" />
    <h3 class="text-center"> @Model.Institution.Name</h3>
    <h4 class="text-center">@Model.Institution.Email</h4>
    <h4 class="text-center">@Model.Institution.ContactNo</h4>
    <hr />
</div>
<br />
<h3 class="page-title">Fee type List</h3>
<br />
<br />

@if (Model._FeeTypes.Count() == 0)
{
    <div class="well"><b>No record has been matched according to selection.</b></div>
}
else
{
    <div class="watermark print-watermark">
        <img src="~/@Html.Raw(Model.Institution.LogoPath)" class="print-logo" />
    </div>
    <br />
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th style="max-width:10px;">SN</th>
                <th>  Class  </th>
                <th>Fee Name</th>
                <th>  IsActive </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in Model._FeeTypes)
            {
                <tr>
                    <td style="max-width:10px;">@(Model._FeeTypes.IndexOf(data) + 1)</td>
                    <td class="showDetails pointer">
                        @data.ClassName
                    </td>
                    <td class="showDetails pointer">
                        @data.Name
                    </td>
                    <td class="showDetails pointer">
                        @if (data.IsActive == true)
                        {
                            <h>Yes</h>
                        }
                        else
                        {
                            <h>No</h>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
