@model OE.Web.Areas.Institution.Models.UsersVM.IndexUsersVM
<h1 class="page-title">Reset Own Password</h1>

<br />
<br />
<div class="table-responsive">
    <table class="table table-bordered table-hover oePage_backend">
        <thead>
            <tr>
                <th class="oeTableTitle">Name</th>
                <th class="oeTableTitle">User Id</th>
                <th class="oeTableTitle">Password</th>
                <th class="oeTableTitle">Action </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var data in Model.OEUsersListVMs)
            {
                <tr>
                    <td class="showDetails pointer">
                        <img id="IP300X200" src="~/@data.IP300X200" asp-append-version="true" style="height:80px;width:80px;" />

                        <br />@data.FirstName @data.LastName
                    </td>
                    <td class="showDetails pointer">@data.OurEduId</td>
                    <td class="showDetails pointer">****</td>
                    <td>
                        <button class="btn btn-primary btn-sm" id="btnEditUser" name="btnEditUser" data-toggle="modal" data-target="#mdlEditUser" data-id="@data.Id" data-OurEduId="@data.OurEduId" data-password="@data.Password"><i class="fas fa-edit" aria-hidden="true"></i>Reset Password</button>
                    </td>

                </tr>
            }

        </tbody>
    </table>
</div>

<!-- #region "All Modals" -->

<div class="modal" id="mdlEditUser" >
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">                
                <h4 class="modal-title">Reset Password</h4>                
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                
            </div>
            <div class="modal-body">
                <form role="form">
                    <label>User Login Id</label>
                    <input type="hidden" name="Id" id="Id" />
                    <input type="text" name="OurEduId" required id="OurEduId" readonly class="form-control">
                    <br />
                    <label>Password</label>
                    <input type="password" name="Password" required id="Password" class="form-control">

                    <br />

                    <button formmethod="post" asp-area="Institution" asp-controller="Users" asp-action="ChangePassword"
                            asp-route-Id="Id"
                            asp-route-Password="Password"
                            class="btn btn-md btn-success">
                        <i class="fas fa-save" aria-hidden="true"></i>
                        Save
                    </button>
                    <button class="btn btn-md btn-danger" data-dismiss="modal"><i class="fas fa-times" aria-hidden="true"></i>Cancel</button>

                </form>

            </div>

        </div>

    </div>
</div>

<!-- #endregion  "All Modals"-->
<!-- #region "All Scripts" -->

@section Scripts
    {

    <script type="text/javascript">
        //JS for auto load values into reset form
        $('tr td #btnEditUser').on('click', function () {
            $("#mdlEditUser #Id").val($(this).data("id"));
            $("#mdlEditUser #OurEduId").val($(this).data("oureduid"));
            $("#mdlEditUser #Password").val($(this).data("password"));
        });
    </script>
}

<!-- #endregion  "All Scripts"-->
