
@{
    Layout = "~/Areas/Institution/Views/Shared/_LayoutReport.cshtml";
}

@model OE.Web.Areas.Institution.Models.StudentsVM.PrintIndexStudentsListVM;

<div class="informationArea">
    <img src="~/@Html.Raw(Model.Institution.LogoPath)" class="center-block" />
    <h3 class="text-center"> @Model.Institution.Name</h3>
    <h4 class="text-center">@Model.Institution.Email</h4>
    <h4 class="text-center">@Model.Institution.ContactNo</h4>
    <hr />
</div>
<br />
<h3 class="page-title">Student List</h3>

<br />
<br />
<div class="watermark print-watermark">
    <img src="~/@Html.Raw(Model.Institution.LogoPath)" class="print-logo" />
</div>

@if (Model._Students.Count() == 0)
{
    <div class="well"><b>No Record has been matched according to selection.</b></div>
}
else
{
    <br />
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th style="max-width:10px;">SN</th>
                <th>  ClassName </th>
                <th>  Gender </th>
                <th>  StudentName </th>
                <th>  AdmittedYear </th>
                <th>  PresentAddress </th>
                <th>  PermanentAddress </th>
                <th>  DateOfBirth </th>
                <th>  IsActive </th>

            </tr>
        </thead>
        <tbody>

            @foreach (var data in Model._Students)
            {

                <tr>
                    <td style="max-width:10px;">@(Model._Students.IndexOf(data) + 1)</td>
                    <td class="showDetails pointer">
                        @data.ClassName
                    </td>
                    <td class="showDetails pointer">
                        @data.GenderName
                    </td>
                    <td class="showDetails pointer">
                        @data.StudentName
                    </td>
                    <td class="showDetails pointer">
                        @String.Format("{0:dd-MMM-yyyy}", data.AdmittedYear)
                    </td>
                    <td class="showDetails pointer">
                        @data.PresentAddress
                    </td>
                    <td class="showDetails pointer">
                        @data.PermanentAddress
                    </td>
                    <td class="showDetails pointer">
                        @String.Format("{0:dd-MMM-yyyy}", data.DOB)
                    </td>
                    <td class="showDetails pointer">
                        @if (data.IsActive == true)
                        {
                            <h>Yes</h>
                        }
                        else
                        {
                            <h>No</h>
                        }
                    </td>

                </tr>
            }
        </tbody>
    </table>
}